@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  background: none;
  transition: all 0.3s ease-out;
}

.box:hover {
  background-color: rgba(90, 91, 167, 0.619);
}

.rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
